:root{
    --gold: #D9985F;
    --dark: #231F1E;
    --gray: #f4f4f4;
}

body{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--gray);
}
*{
    margin: 0;
    padding: 0;
}
main{
    margin-left: 90px;
    margin-right: 200px;
    margin-block: 30px;
    row-gap:70px;
}
.logo{
    font-weight: bolder;
    font-size: 1.8rem;
}
.octo{
    fill: transparent;
    stroke: var(--gold);
}
.octo-svg{
    height: 45px;
    width: 45px;
    margin-right: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    list-style: none;
    overflow-x: hidden;
    z-index: 99;
}
ul li a {
    text-decoration: none;
    color: var(--gray);;
    transition: all .3s ease
}
ul li a:hover{
    color: var(--gold);
}
.sgn:hover{
    color: var(--gray);;
}
.dropdown-content{
    margin-top: 2px;
    margin-left: -9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    z-index: -99;
    transition: all .3s ease-in-out;
    position: absolute;
}
.dropdown-content a {
    color: black;
    padding-block: 5px;
    padding-inline: 5px;
    transition: all .3s ease;
}
.dropdown-content a:hover {
    color: var(--gold);
}
.crs:hover .dropdown-content{
    opacity: 1;
    z-index: 9;
}
.fa-solid{
    font-size: x-small;
    font-weight: 700;
}
.fa-star{
    font-size: medium;
}
section{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    height: 100%;
}
.menus{
    display:flex;
    column-gap: 32px;
}
.euroText {
    font-size: 3rem;
    font-weight: bolder;
}
.avatar{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.line-start::before{
    content: "";
    width:70px;
    height: 2px;
    background-color: var(--gold);
    transform: translateY(-600%);
    display: inline-flex;
}
.paragraph{
    color: dimgray;
}
.action-section{
    column-gap: 20px;
    display: flex   ;
}
.action{
    padding: 7px;
    padding-inline: 9px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
    border:1px solid var(--gold);
}
.action:hover{
    background-color: var(--gold);
    color: #fff;
}
.btn1{
    background-color: var(--gold);
    color: var(--gray);;
}
.btn1:hover{
    background-color: var(--gray);;
    color: var(--gold);
}
.btn2{
    border:1px solid var(--gold);
    background-color: var(--gray);;
    color: var(--gold);
}
.rating{
    column-gap: 15px;
}
.p-rates{
    font-size: 0.85rem;
    font-weight: 700;
}
.star{
    color: var(--gold);
    background-color: var(--dark);
    width: 50px;
    height:50px;
    border-radius: 7px;
}
.sparkle{
    fill: var(--gold);
    width: 42px;
    height:42px
}
.ws{
    fill: var(--gray);;
    width: 30px;
    height: 30px;
}
.darkbg{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: var(--dark);
    width: 27vw;
    height: 600px;
    position: absolute;
    top: 0;
    right: 11%;
    z-index: 1;
}
.goldBg{
    background-color: var(--gold);
    height: 26vh;
    max-width: 7.5vw ;
    position: absolute;
    top: 0;
    right: 7.5%;
    z-index: 2;
    color: var(--gray);;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 12px;
    padding-inline: 1.3vw;
    padding-bottom: 20px;
    animation: slide-in-right 2s ease-in-out;
}
.people-list{
    width: 14vw;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    left: -25%;
    bottom: -9%;
    background-color: #fff;
    flex-direction: column;
    z-index: 999;
    animation: slide-in-left 2s ease-in-out;
}
.people-avatar{
    display: flex;
}
.avatar-head{
    margin-left: -15px;
    background-color: white;
    color: #231F1E;

}
.fa-plus{
    font-size: x-large;
    color: var(--gold);
}

.plus{
    border: 1px solid var(--gold);
    cursor: pointer;
}
.plus:hover{
    background-color: var(--gold);
    color: white;
    transition: all .3s ease;
}
.plus:hover .fa-plus{
    color: white;
}
.bullet{
    position: absolute;
    color: red;
    border-radius: 20px;
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(-300%);
    }
    50%{
        transform: translateX(40%);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(0);
    }
}

@keyframes slide-in-right{
    0% {
        transform: translateX(200%);
    }
    50%{
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0);
    }
}
@media screen and (min-width: 1400px){
    .darkbg{
        width:30%;
        right: 12%;
        height: 540px;
    }
    .goldBg{
        right: 8.8%;
    }
    .menus{
        column-gap: 28px;
    }
}
@media screen and (min-width: 1600px){
    .darkbg{
        right: 10%;

    }
    .goldBg{
        right: 7.3%;
    }
}
@media screen and (max-width: 1300px){
    .darkbg{
        width: 30%;
        right: 14%;
        height: 470px;
    }
    .goldBg {
        right: 7.5%;
    }
    ul li a {
        font-size: 12px;
    }
}
