body{
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin-inline: 50px;
    margin-block: 30px;
}
.logo{
    font-weight: bolder;
    font-size: 1.5em;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: black;
    transition: all .3s ease
}
ul li a:hover{
    color: gold;
}
.menus{
    display:flex;
    column-gap: 32px;
}
.euroText {
    font-size: 3rem;
    font-weight: bolder;
}